/*PEN STYLES*/
.chart {
  background-image: linear-gradient(rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0.90)), url("https://upload.wikimedia.org/wikipedia/zh/thumb/3/3d/CGU_Logo.svg/1200px-CGU_Logo.svg.png");
  background-size: 450px;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  color: #444;
  max-width: 375px;
  margin: 0 auto;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.chart .H-index {
  margin-top: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #959595;
  padding-bottom: 15px;
  position: relative;
  overflow: hidden;
  font-size: 94%;
}
.chart .text-H-index {
  text-align: center;
}
.chart .num-H-index {
  text-align: center;
  font: 3.5em/0.8em "Roboto";
  font-weight: bold;
  float: none;
  overflow: hidden;
}
.chart .picture {
  color: #999;
  font-size: 2em;
  line-height: 1.5em;
  z-index: 1;
  max-width: 2em;
 /*POSITION*/
  position: absolute;
  right: 5px;
  top: 5px;
}
.chart .picture .picture-img {
  position: absolute;
  right: -5px;
  top: -4.2px;
  width: 2em;
  height: 2em;
  min-width: 2.5em;
  min-height: 2.5em;
  max-width: 4.0em;
  max-height: 4.0em;
  object-fit: cover;
  border-radius:0 0 0 100%;
}
.chart .profile, .chart .user-citations {
  font-size: 90%;
}
.chart .profile {
 /*POSITION*/
  position: relative;
}
.chart .profile .name-email {
  float: left;
  overflow: hidden;
  margin-left: 8px;
  max-width: 210px;
  width: 65%;
  position: relative;
 /*TRANSITION*/
  transition: all 0.3s ease;
}
.chart .profile .name {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 0.9em;
  cursor: pointer;
}
.chart .profile .email {
  font-size: 0.9em;
  text-transform: capitalize;
}
.chart .user-citations {
  float: right;
  overflow: hidden;
  margin-top: -1px;
}
.chart .user-citations .citations {
  float: left;
  font-family: Roboto;
  font-weight: bold;
  font-size: 2.1em;
  line-height: 1.5em;
  margin-right: 5px;
  margin-top: -5px;
}
.chart .material-icons{
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
    position: absolute;
   top: 5px;
   left: 0px;
   
}
.chart .material-icons-outlined{
 color:rgba(0, 0, 0, 0.50);
}
@media screen and (min-width: 380px) {
  .chart .picture {
    color: #fff;
 }
  .chart #picture::after {
    background: var(--check-secondary, #fff);
    opacity: 75%;
    border-radius: 50%;
    border: 6px solid white;
    content: "";
    height: 175px;
    width: 175px;
    position: absolute;
    top: -90px;
    right: -90px;
    z-index: -1;
 }
  .chart .name-email {
    max-width: 235px;
    width: 100%;
 }
}
a{
   text-decoration:none;
    color: #444;
}
